// Colors
$main-color: hsl(207, 90%, 54%); // #2094f3
$main-color-alt: hsl(207, 81%, 48%); // #1784de
$sec-bcg: hsl(0, 0%, 93%); // #ededed
$hover-bcg-color: hsl(0, 0%, 98%); // #fafafa
$paragraph-color: hsl(0, 0%, 40%); // #666
$main-border-color: hsl(0, 6%, 91%); // #e9e6e6

// Time
$main-transition: 0.3s;
$mid-trans: 0.5s;

// Spaces
$ten-p: 0.625rem;
$tewenty-p: 1.25rem;
$thirty-p: 1.875rem;
$forty-p: 2.5rem;
$main-pad: 6.25rem;
$rad-6p: 6px;

// Font Size
$main-size: 1.125rem;
$big-size: 1.625rem;
$heading-size: 2.5rem;
