@use "../base/" as *;

.videos {
  padding-block: $main-pad;

  .container {
    display: flex;

    aside {
      min-width: 18.75rem;
      background-color: white;

      h4 {
        @include flexBox(space-between);
        padding: $tewenty-p;
        background-color: #f4f4f4;
      }

      .info {
        cursor: pointer;
        padding: $tewenty-p;
        border-bottom: 1px solid $sec-bcg;

        &:hover {
          p {
            color: $main-color;
          }
        }

        span {
          color: $paragraph-color;
          margin-top: $ten-p;
        }
      }
    }

    .video-prev {
      padding: $ten-p;
      background-color: #e2e2e2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        max-width: 100%;
      }

      .video-title {
        background-color: white;
        padding: $tewenty-p;
      }
    }
  }
}
